.foo{
  position: absolute;
  top: 150px;
  left: 150px;
  width: 100px;
  height: 100px;
  background-color: aqua;
  z-index: 1;
  }
  .foo2{
    position: absolute;
    top: 250px;
    left: 250px;
    width: 250px;
    height: 250px;
    background-color: red;
    z-index: 2;
    }
  
  .a{

  }

  